body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: white;
    width: 100vw;
    background: #5D6D7E;
}

header {
    background: #1F2937;
}

label {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    text-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-section {
    background: #1F2937;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.container {
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

img {
    border: white;
    max-width: 100%;
    padding: 100px;
    width: 300px;
    filter: brightness(40%);
    filter: hue-rotate(90deg);
}

a {
    color: white;
}

.title {
    font-style: italic;
    font-size: 60px;
    font-weight: 700;
    display: block;
}

.content-text {
    font-size: 25px;
}

.desc {
    color: black;
    display: block;
    margin-left: 100px;
    font-size: 32px;
}

.links {
    display: flex;
    padding: 19px;
}

li:hover{
    text-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    border-radius: 3px;
}

a:link,
.li {
    text-decoration-line: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.second-section {
    background: #5D6D7E ;
    height: 500px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.container-box:hover {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.container-box {
    border-radius: 8px;
    border-style: solid;
    padding: 32px;
    background-color: #1F2937;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.text-content {
    font-size: 32px;
    text-align: center;
    font-style: italic;
}

.footer {
    margin-top: 5vh;
    background: #1F2937;
    max-width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section {
    background: #5D6D7E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.quote-box {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background: #1F2937;
    color: white;
    width: 92vw;
    height: 35vh;
    border-style: solid;
}

.quote-box:hover {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.text-content-box {
    font-size: 30px;
    padding: 30px;
    border-radius: 20px;
    height: 80%;
    font-style: italic;
}